src/main/mule/jenkins-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>


<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0ee922c2-6ee3-4caa-af7b-40eb01232edf" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="80" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e318c51b-f07b-4543-bcd8-bb01993055ad" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="jenkins-demo-apiFlow" doc:id="e2769b05-bc53-4648-84f0-9824b8f4e5a9" >
		<http:listener doc:name="Listener" doc:id="c98774ff-b9b4-4d9e-8f35-2214f2a149b7" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="1427e35a-280e-4d40-a1cb-b8992daa8026" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
